html,body {
  background-color:hsl(212, 45%, 89%);
}
 

.cardcontainer {
  background-color: White;
  border-radius: 15px;
  margin: 150px auto;
  width: 370px;
  height: 530px;
  color: white;
  
}


.cardcontainer img {
  border-radius: 15px;
  width: 90%;
  margin: 20px 5%;
}

 

.cardcontainer H2 {
  color: hsl(218, 44%, 22%);
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  width: 300px;
  text-align: center;
  margin: 0px auto;
}


.cardcontainer p {
  color: hsl(220, 15%, 55%);
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  width: 285px;
  text-align: center;
  margin: 14px auto;
}

 